/* 
dark purple: #322248
medium purple: #563E7C
light purple: #CBBDE2
gold: #FFE484 
*/

body{
  background-color: #563E7C;
  color: #CBBDE2;
}

h1 {
  color: #FFE484;
}

.container {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 800px;
  background-color: #322248;
  padding: 50px;
  min-height: 1000px;
}

#duel-display {
  width: 100%;
  min-height: 400px;
  display: flex;
  justify-content: space-around;
  background-image: url(../src/img/parchment.jpg);
  border-radius: 30px;
  box-shadow: 0 0 8px 8px #322248 inset;
  color: #322248;
}

#duel-status {
  min-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  padding: 0 10px;
  text-align: center;
}

.character-img {
  width: 150px;
  height: 400px;
  background-size: 150px;
  background-repeat: no-repeat;
  background-position: center;
}

.male {
  background-image: url(../src/img/harry.png);
}

.female {
  background-image: url(../src/img/hermione.png);
}

#bottom-display {
  width: 100%;
  margin-top: 20px;
}

#character-creation, #attack-buttons {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
}

#stats-display {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

#character1-details, #character2-details{
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#character1-details h5, #character2-details h5{
  color:#FFE484 ;
}

#buttons-between{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin: 10px;
}

.stats, #character1-buttons, #character2-buttons{
  display: flex;
  flex-direction: column;
}

.stats p{
  margin: 10px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn {
  margin: 10px;
  background-color: #F5EACF;
  font-size: 1.2em;
  border-radius: 10px;
}
